aiohttp==3.7.3; python_version >= "3.6" and python_full_version >= "3.6.0"
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.6.0"
attrs==20.3.0; python_version >= "3.6" and python_full_version >= "3.6.0"
chardet==3.0.4; python_version >= "3.6" and python_full_version >= "3.6.0"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
flask==1.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
idna==3.1; python_version >= "3.6" and python_full_version >= "3.6.0"
itsdangerous==1.1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
jinja2==2.11.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
markupsafe==1.1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
multidict==5.1.0; python_version >= "3.6" and python_full_version >= "3.6.0"
python-dotenv==0.15.0
slackclient==2.9.3; python_full_version >= "3.6.0"
typing-extensions==3.7.4.3; python_version >= "3.6" and python_full_version >= "3.6.0"
werkzeug==1.0.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
yarl==1.6.3; python_version >= "3.6" and python_full_version >= "3.6.0"
